@model DressCreateModel

@{
    ViewData["Title"] = "Yeni Kıyafet Oluştur";
}

<h4>Yeni Kıyafet Oluştur</h4>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dress.Name" class="control-label"></label>
                <input asp-for="Dress.Name" class="form-control" />
                <span asp-validation-for="Dress.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dress.Price" class="control-label"></label>
                <input asp-for="Dress.Price" class="form-control" />
                <span asp-validation-for="Dress.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dress.CategoryId" class="control-label"></label>
                <select asp-for="Dress.CategoryId" class="form-control">

                    @foreach (var item in Model.Categories)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>

                <span asp-validation-for="Dress.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dress.DesignerId" class="control-label"></label>
                <select asp-for="Dress.DesignerId" class="form-control">
                    @foreach (var item in Model.Designers)
                    {
                        <option value="@item.Id">@item.NameSurname</option>
                    }
                </select>
                <span asp-validation-for="Dress.DesignerId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Dress.ImageURL" class="control-label"></label>
                <input class="form-control" type="file" name="file" accept="image/*" />
            </div>
            <div class="form-group">
                <label asp-for="Dress.IsSelected" class="control-label"></label>
                <input asp-for="Dress.IsSelected" />
                <span asp-validation-for="Dress.IsSelected" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dress.IsBestSeller" class="control-label"></label>
                <input asp-for="Dress.IsBestSeller" />
                <span asp-validation-for="Dress.IsBestSeller" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <a asp-action="Index" class="btn btn-secondary">Listeye Dön</a>
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </div>

        <div class="col-md-8">
            <textarea asp-for="Dress.Description"></textarea>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Dress_Description').summernote();
        });
    </script>
}